@import "../../styles/mixins";

.Button {
  @include button-reset;
  cursor: pointer;

  padding: 0.5em 0.7em;

  display: block;
  width: max-content;

  border-radius: 8px;
  min-width: 200px;

  text-align: center;

  background: var(--color-gray);
  transition: background 0.2s;
  font-size: 18px;

  &:focus,
  &:hover {
    outline: none;
    color: var(--color-white);
    background: var(--color-highlight);
  }
  &:active {
    background: var(--btn-active-bg-color);
  }

  :global(.keyboard-focus) &:focus {
    @include keyboard-focus;
  }

  &.isDisabled {
    opacity: 0.4;
  }

  &.themeRed {
    &:focus,
    &:hover {
      background: var(--color-red);
      color: var(--color-white-STAY);
    }
  }
}
