@use "../../styles/mixins" as *;

.Button {
  @include button-reset;
  cursor: pointer;

  padding: 0.5em 0.7em;

  display: block;
  width: max-content;

  border-radius: 8px;
  min-width: 200px;

  text-align: center;

  background: var(--color-gray);
  transition: background 0.2s;
  font-size: 16px;
  letter-spacing: 0.02em;

  transform-origin: center center;

  // &:before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   // background: #ff0;
  //   border-radius: 8px;
  //   box-shadow: 0 3px 20px -6px var(--color-highlight);
  //   opacity: 0;
  //   pointer-events: none;

  //   transition: opacity 0.2s;
  // }

  // &:focus,
  :global(.keyboard-focus) &:focus,
  &:hover {
    color: var(--color-white);
    background: var(--color-highlight);

    // &:before {
    //   opacity: 0.7;
    // }
  }
  &:active {
    // background: var(--btn-active-bg-color);
    transform: scale(0.98);
  }

  :global(.keyboard-focus) &:focus {
    @include keyboard-focus;
  }

  &.isDisabled {
    opacity: 0.4;
  }

  &.themePrimary {
    color: var(--color-white);
    background: var(--color-highlight);

    &:hover {
      background: var(--color-highlight-lighter);
    }
  }

  &.themeRed {
    &:focus,
    &:hover {
      background: var(--color-red);
      color: #fff;
    }
  }
}
