.MainPlayerUI {

  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%,50%);
  background: var(--color-gray);
  border-radius: 8px;
}



.Name {
  position: absolute;
  top: calc( 100% + 10px );
  left: 0%;
  text-align: center;
  width: 100%;
}


.CardGrid {
  width: calc( var(--card-width) * 4 + 5 * var(--card-margin) );
  height: calc( var(--card-height) * 2 + 3 * var(--card-margin) );
}
.CardGrid_Card {
  position: absolute;
}
