.Game {
  width: 100vw;
  height: 100vh;
}

.PlayerUIsContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.EffectDisplay {
  position: absolute;
  top: calc( 50% + var(--card-height) / 2 + 26px );
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--color-black);
  color: var(--color-white);
}
