@use "../../styles/mixins" as *;

.Toggle {
  @include button-reset;

  cursor: pointer;

  display: inline-block;
  height: 20px;
  width: 32px;

  border-radius: 100px;
  transition: all 0.1s;

  background: var(--color-gray);
  border: solid 3px var(--color-gray);

  &:hover {
    background: var(--color-gray-lighter);
    border-color: var(--color-gray-lighter);
  }

  :global(.keyboard-focus) &:focus {
    @include keyboard-focus;
  }
}

.Knob {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 14px;
  height: 14px;
  border-radius: 100rem;

  background: var(--color-white);
  transform: translateX(0);

  transition: all 0.1s;
}

.isDisabled {
  opacity: 0.3;
}

.isPressed {
  background: var(--color-select) !important;
  border-color: var(--color-select) !important;
}

.isPressed .Knob {
  transform: translateX(12px);
}
