.OtherPlayerUI {
  position: absolute;
}

.Name {
  position: absolute;
  top: calc( 100% + 10px );
  left: 0%;
  text-align: center;
  width: 100%;
}


.CardGrid {
  width: calc( var(--card-width) * 4 + 8px + 5 * var(--card-margin) );
  height: calc( var(--card-height) * 2 + 8px + 3 * var(--card-margin) );
  transform-origin: center;

  border: solid 4px var(--color-gray);
  border-radius: 8px;

}
.CardGrid_Card {
  position: absolute;
}


/* Positions */

.OtherPlayerUI:nth-child( 1 ) {
  left: 50%;
  top: 10px;
  transform: translate(-50%,0);
}
.OtherPlayerUI:nth-child( 1 ) .CardGrid{
  transform: rotate(180deg);
}

.OtherPlayerUI:nth-child( 2 ) {
  left: 10px;
  top: 50%;
  transform: translate(0,-50%);
}
.OtherPlayerUI:nth-child( 2 ) .CardGrid{
  transform: rotate(90deg) translate(0,20%);
}
.OtherPlayerUI:nth-child( 2 ) .Name {
  transform: translate(-40px,60px);
}

.OtherPlayerUI:nth-child( 3 ) {
  right: 10px;
  top: 50%;
  transform: translate(0,-50%);
}
.OtherPlayerUI:nth-child( 3 ) .CardGrid{
  transform: rotate(-90deg) translate(0,20%);
}

.OtherPlayerUI:nth-child( 3 ) .Name {
  transform: translate(40px,60px);
}
