.Home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.GameContainer {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: width 0.4s;
}

.RulesContainer {
  width: var(--rules-width);
  padding: 15px;

  background: var(--color-gray);

  overflow-y: scroll;

  position: absolute;
  top: 0;
  right: calc(var(--rules-width) * -1);
  bottom: 0;
  transition: right 0.4s;

  font-family: var(--font-family-reg);

  line-height: 1.6;
  font-size: 14px;
  letter-spacing: 0.03em;
  user-select: text;
}

.showRules .GameContainer {
  width: calc(100vw - var(--rules-width));
}
.showRules .RulesContainer {
  right: 0;
}

.toggleRulesBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 10;
}

.button {
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background: var(--color-gray);
  transition: background 0.2s;
  margin-bottom: 1rem;
  color: var(--color-black);
  display: block;
  text-decoration: none;
}

.button:hover {
  color: var(--color-white);
  background: var(--color-highlight);
}

/* Rules Page */

.RulesPage {
  padding: calc(var(--grid-unit) * 2);
  line-height: 1.4;
  max-width: 600px;
  margin: 0 auto;
}
.RulesPage .Rules {
}
