$mobile_threshold: 640px;
$tablet_threshold: 960px;
$laptop_threshold: 1600px;

// Other Mixins ———————————————————————————————————————————
@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-reset {
  font-family: inherit;
  letter-spacing: inherit;
  padding: 0;
  white-space: normal;
  text-align: left;
  border: none;
  background-color: transparent;
  color: inherit;
  outline: none;
  cursor: default;
}

@mixin nth-variable() {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      --nth-child: #{$i};
    }
  }
}

@mixin keyboard-focus($position: "outside") {
  --focus-color: var(--color-select);

  z-index: 2;

  @if $position == "outside" {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
  }

  @if $position == "inside" {
  }
}

@mixin is-you-badge() {
  &:before {
    content: "you";
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translate(-100%, -50%);

    background: var(--color-interaction);
    color: var(--color-white);
    padding: 0.2em 0.6em;
    border-radius: 1000px;

    @include font-zeta;
  }
}

// Fonts ——————————————————————————————————————————————————

// H1
@mixin font-alpha() {
}

// H2
@mixin font-beta() {
}

// H3
@mixin font-gamma() {
}

// text
@mixin font-delta() {
}

// small text
@mixin font-epsilon() {
}

// tiny label
@mixin font-zeta() {
  font-size: 10px;
  letter-spacing: 0.05em;
  font-weight: 800;
  text-transform: uppercase;
}
