@use "./mixins" as *;

:root {
  /* Typography */
  // --font-family-reg: "IBM Plex Sans", sans-serif;
  // --font-family-mono: "Space Mono", monospace;
  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #ddd;
  --color-gray-lighter: #e3e3e3;
  --color-gray-very-light: #f3f3f3;

  --color-white-STAY: var(--color-white);
  --color-black-STAY: var(--color-black);

  --color-red: #f00;

  --color-interaction: #58e1ff;
  --color-highlight: #58e1ff;
  --color-highlight-lighter: #6ee5ff;

  /* special card colors */
  --color-draw: #ffc700;
  --color-lookAt: #ffa234;
  --color-swap: #d43232;
  --color-select: var(--color-highlight);

  /* Sizes */
  /*
  --grid-unit: 10px;
  --max-width: 1200px;

  --card-width: 80px;
  --card-height: 112px;
  --card-margin: 10px;

  --rules-width: 320px;
  --card-border-radius: 3px;

  */

  --grid-unit: 1vw;
  --max-width: 1200px;

  --card-width: clamp(20px, 7.8vw, 80px);
  --card-height: calc(var(--card-width) * 1.4);
  --card-margin: calc(var(--card-width) * 0.2);

  --card-border-width: 2px;
  --card-border-radius: 4px;

  --rules-width: 320px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-white: #111;
    --color-black: #ccc;
    --color-gray: #333;
    --color-gray-lighter: #444;
    --color-gray-very-light: #1a1a1a;

    --color-white-STAY: var(--color-black);
    --color-black-STAY: var(--color-white);

    --color-red: #f00;

    --color-interaction: #99edff;
    --color-highlight: #99edff;
    --color-highlight-lighter: #adeaf7;
  }
}
