:root {
  /* Typography */
  --font-family-reg: sans-serif;
  --font-family-mono: 'Space Mono', monospace;
;

  /* Colors */
  --color-white: #FFF;
  --color-black: #000;
  --color-gray: #EEE;

  --color-red: #F00;

  --color-interaction: #58E1FF;

  /* Sizes */
  --grid-unit: 10px;
  --max-width: 1200px;


  --card-width: 80px;
  --card-height: 112px;
  --card-margin: 10px;

}


/*@media (prefers-color-scheme: dark) {
  :root {
    --color-white: #000;
    --color-black: #FFF;
  }
}*/
