.Card {
  width: 80px;
  height: 112px;
  border: solid 2px var(--color-black);
  background: var(--color-white);
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;

  padding: 10px;
}

.isRed {
  color: var(--color-red);
}

.isBack {

}

.BackArtwork {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-image: url('/CardBack.png');
  background-size: 30px 30px;
}

.Number {
  font-weight: bold;
}
.Symbol {

}
