.Card {
  width: var(--card-width);
  height: var(--card-height);
  border: solid 2px var(--color-black);
  background-color: var(--color-white);
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;

  padding: 10px;
}

/*.Card:hover {
  box-shadow: var(--color-interaction) 0px 0px 0px 4px;
}*/

.isRed {
  color: var(--color-red);
}

.isBack {

}

.isSelected {
  background-color: var(--color-highlight);
}

.isHighlight {
  box-shadow: var(--color-highlight) 0px 0px 0px 2px;
  cursor: pointer;
}

.isSwopped {
  background-color: var(--color-red);
}

.Card.isHighlight:hover {
  box-shadow: var(--color-interaction) 0px 0px 0px 4px;
}

.BackArtwork {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-image: url('/CardBack.png');
  background-size: 30px 30px;
}

.Number {
  font-weight: bold;
}
.Symbol {

}


.Joker {
  font-size: 60px;
}
